---

---
<footer class="bg-footerColor text-white py-8">
    <div class="flex flex-col items-center">
        <p class=" my-4 w-10/12 border-2 border-solid border-b-gray-500"></p>
        <p>
            Copyright &copy; 2024 Company Name. All rights reserved
        </p>
    </div>

</footer>