<header class="flex overflow-hidden flex-col items-center bg-stone-50">
    <div class="flex flex-wrap gap-5 justify-between pt-3.5 pr-6 pb-2 pl-20 w-full bg-stone-100 shadow-[0px_1px_4px_rgba(0,0,0,0.25)] max-md:px-5 max-md:max-w-full">
      <h1 class="my-auto text-xl font-extrabold text-center text-black">Company Logo</h1>
      <nav class="flex flex-wrap gap-10 items-center text-sm leading-6 text-neutral-900 max-md:max-w-full">
        <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[483px] max-md:max-w-full">
          <ul class="flex flex-wrap gap-10 items-center max-md:max-w-full">
            <li class="flex gap-10 justify-center items-center self-stretch my-auto font-semibold min-w-[240px]">
              <a href="#products" class="flex gap-0.5 items-center self-stretch my-auto whitespace-nowrap">Products</a>
              <a href="#brands" class="flex gap-0.5 items-center self-stretch my-auto whitespace-nowrap">Brands</a>
              <a href="#contact" class="flex gap-0.5 items-center self-stretch my-auto">Contact Us</a>
            </li>
          </ul>
        </div>
        <form class="flex overflow-hidden flex-col justify-center items-start self-stretch px-2 py-1 my-auto font-medium whitespace-nowrap bg-white rounded border border-solid border-black border-opacity-10 w-[177px] max-md:pr-5">
          <label for="search" class="sr-only">Search</label>
          <div class="flex gap-1.5 items-center">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1824dc6d55496ca653d449dbe04895190a7e73b90480ff9af596c16c09791e32?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square" alt="" />
            <input type="search" id="search" placeholder="Search" class="self-stretch my-auto bg-transparent border-none outline-none" />
          </div>
        </form>
      </nav>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4f17cebdf22db0870ec0e498f112af3e3e5799f4271ecf6513493db9dceed330?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain shrink-0 self-stretch my-auto rounded aspect-[1.41] shadow-[0px_1px_0px_rgba(0,0,0,0.15)] w-[55px]" alt="User profile" />
    </div>
  </header>
  
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/411688258f214dec279b6025c5d91e69a93e88c0df6dbead68aa803a7623e257?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain mt-6 max-w-full aspect-[2.4] w-[1440px]" alt="Banner image" />
  
  <section class="flex flex-col justify-center px-24 py-12 mt-6 max-w-full bg-white w-[1400px] max-md:px-5">
    <div class="flex flex-col w-full max-w-[1200px] max-md:max-w-full">
      <h2 class="flex gap-4 items-center py-1 pl-3.5 max-w-full text-3xl font-medium tracking-tight leading-loose rounded-sm text-neutral-900 w-[340px]">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6b952edf907edd85ce9cce4a90454b9f1f4b7a180f747c73a02bdee0702a8dd?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain shrink-0 self-stretch my-auto w-0" alt="" />
        <span class="gap-10 self-stretch my-auto min-w-[240px] w-[311px]">Shop by Categories</span>
      </h2>
      <div class="flex flex-wrap gap-10 px-0.5 mt-8 w-full">
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e6262894247cf963f883e3699268fafff48f59f23f974297e6ae1fec13170742?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square" alt="Laptops category" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center whitespace-nowrap text-neutral-900">Laptops</div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/66a0ceef44a34267f8a995daebff6b92784ac1be850b2aa1e4f86d0f71872766?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square" alt="Phones category" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center whitespace-nowrap text-neutral-900">Phones</div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c52c43ef375dc5cf11838b150d5d9e7a3e35f3d3fc3e218123e761136a49848b?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square rounded-[200px]" alt="Tablets category" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center whitespace-nowrap text-neutral-900">Tablets</div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/9e884fafa248f5f905df5d0baa082b587a6261fb616f573e1ba2a4bee59a0672?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square" alt="Headphones category" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center whitespace-nowrap text-neutral-900">Headphones</div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d4253e51a5d024e21963bd84931681632f790ee7ff36837d3bb088b2f4a94cbf?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square" alt="Air Pods category" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center text-neutral-900">Air Pods</div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6fab1070642f4f8fb0c16fdd6f46e07516943db0b65f3902a13711d63c752693?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square" alt="Accessories category" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center whitespace-nowrap text-neutral-900">Accessories</div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="flex flex-col justify-center px-24 py-12 mt-6 max-w-full bg-white w-[1400px] max-md:px-5">
    <div class="flex flex-col w-full max-w-[1200px] max-md:max-w-full">
      <h2 class="flex gap-4 items-center py-1 pl-3.5 max-w-full text-3xl font-medium tracking-tight leading-loose rounded-sm text-neutral-900 w-[340px]">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3bfc86c9bc769ac93d5019090dde1d4043c7c65b9abecd157569a1ed0cd98cdb?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain shrink-0 self-stretch my-auto w-0" alt="" />
        <span class="gap-10 self-stretch my-auto min-w-[240px] w-[311px]">Shop by Brand</span>
      </h2>
      <div class="flex flex-wrap gap-10 px-0.5 mt-8 w-full">
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d97980f8020cdd4c5b4f839f4597584385945d5e39eb88f1cf9ed8c641c65fc3?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square" alt="Apple brand" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center whitespace-nowrap text-neutral-900">Apple</div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/24fa2269115cf5ac50aa100c4eb6ec1dba8ea066bf2b68aab1f9aed15dd3fb07?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square" alt="Samsung brand" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center whitespace-nowrap text-neutral-900">Samsung</div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/13d773c47918b734a0a13bc13aafa146a5d48ab51e22aaf4cfa65197927a2cad?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square rounded-[200px]" alt="XIAOMI brand" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center whitespace-nowrap text-neutral-900">XIAOMI</div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1ffbf0389481a5e09264b250acb30443d7e4af980809bf2255545ce7a8282516?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square" alt="ITel brand" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center whitespace-nowrap text-neutral-900">ITel</div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/7f1d9aeaab562ed30a576dcca4182ef74fbaa3ecd3a77b98e68dc86839cb1940?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square" alt="Tecno brand" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center whitespace-nowrap text-neutral-900">Tecno</div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="flex overflow-hidden flex-col max-w-full rounded-[400px] w-[167px]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/aedbc6adb141ce6e6e166c67cab2a3a12751118caf3f31ad77d95fb2abef61d4?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain w-full aspect-square" alt="Nokia brand" />
          </div>
          <div class="mt-3 w-full text-sm font-semibold leading-loose text-center whitespace-nowrap text-neutral-900">Nokia</div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="flex flex-wrap gap-4 pt-12 pr-9 pb-28 pl-20 mt-6 max-w-full bg-white w-[1400px] max-md:px-5 max-md:pb-24">
    <div class="flex flex-col grow shrink-0 items-start basis-0 w-fit max-md:max-w-full">
      <h2 class="flex gap-4 items-center py-1 pl-3.5 max-w-full text-3xl font-medium tracking-tight leading-loose rounded-sm text-neutral-900 w-[197px]">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/06e7fa7921248d6de63f26760095377222c3a98ad493933359baab093a160629?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain shrink-0 self-stretch my-auto w-0" alt="" />
        <span class="gap-10 self-stretch my-auto min-w-[240px] w-[311px]">New Arrival</span>
      </h2>
      <nav class="flex flex-wrap gap-5 items-center mt-8 text-base font-medium leading-none text-black max-md:max-w-full">
        <a href="#laptops" class="self-stretch my-auto">Laptops</a>
        <a href="#tablets" class="self-stretch my-auto text-emerald-400">Tablets</a>
        <a href="#phones" class="self-stretch my-auto">Phones</a>
        <a href="#headphones" class="self-stretch my-auto">Headphones</a>
        <a href="#airpods" class="self-stretch my-auto">Air Pods</a>
        <a href="#accessories" class="self-stretch my-auto">Accessories</a>
      </nav>
      <div class="flex flex-col self-stretch mt-8 w-full max-w-[1200px] max-md:max-w-full">
        <div class="flex overflow-hidden gap-5 items-center w-full">
          <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[262px]">
            <div class="flex flex-col p-4 w-full rounded-3xl bg-stone-50 max-w-[262px]">
              <button class="flex gap-2.5 justify-center items-center self-end px-1.5 w-8 h-8 bg-white shadow-lg min-h-[32px] rounded-[32px]" aria-label="Add to favorites">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/dbfbadf57e1ad86757f64fd3f50a80556c83bfdc0fde98474696bd64ac8ee3ea?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain flex-1 shrink w-full aspect-square basis-0" alt="" />
              </button>
              <div class="flex overflow-hidden gap-2.5 justify-center items-center mx-4 rounded-xl shadow-[2px_2px_3px_rgba(0,0,0,0.15)] max-md:mx-2.5">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d6b47e331cc87272ee0067274dc8f5d4b4a6d670db12c619d5f3677027192398?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain self-stretch my-auto aspect-[0.8] w-[200px]" alt="Nutrabey Gold 100% Whey Protein Concentrate" />
              </div>
              <button class="gap-1 self-stretch px-6 py-2.5 text-base font-medium tracking-tight leading-7 text-center text-white bg-emerald-400 rounded-lg shadow-lg min-h-[46px] max-md:px-5">
                Add to cart
              </button>
            </div>
            <h3 class="flex flex-col mt-3 max-w-full text-base font-semibold leading-7 text-center text-neutral-900 w-[262px]">
              <h3 class="flex flex-col mt-3 max-w-full text-base font-semibold leading-7 text-center text-neutral-900 w-[262px]">
    Nutrabey Gold 100% Whey Protein Concentrate
  </h3>
  </div>
  <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[262px]">
    <div class="flex flex-col p-4 w-full rounded-3xl bg-stone-50 max-w-[262px]">
      <button class="flex gap-2.5 justify-center items-center self-end px-1.5 w-8 h-8 bg-white shadow-lg min-h-[32px] rounded-[32px]" aria-label="Add to favorites">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/dbfbadf57e1ad86757f64fd3f50a80556c83bfdc0fde98474696bd64ac8ee3ea?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain flex-1 shrink w-full aspect-square basis-0" alt="" />
      </button>
      <div class="flex overflow-hidden gap-2.5 justify-center items-center mx-4 bg-white rounded-xl shadow-[2px_2px_3px_rgba(0,0,0,0.15)] max-md:mx-2.5">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fa399b5329c1e17a5e1bec2bc4b946a3f95f144acbd1a4ed8bba6f840276f77e?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain self-stretch my-auto aspect-[0.8] w-[200px]" alt="Nutrabey Gold 100% Whey Protein Concentrate" />
      </div>
      <button class="gap-1 self-stretch px-6 py-2.5 text-base font-medium tracking-tight leading-7 text-center text-white bg-emerald-400 rounded-lg shadow-lg min-h-[46px] max-md:px-5">
        Add to cart
      </button>
    </div>
    <h3 class="flex flex-col mt-3 max-w-full text-base font-semibold leading-7 text-center text-neutral-900 w-[262px]">
      Nutrabey Gold 100% Whey Protein Concentrate
    </h3>
  </div>
  <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[262px]">
    <div class="flex flex-col p-4 w-full rounded-3xl bg-stone-50 max-w-[262px]">
      <button class="flex gap-2.5 justify-center items-center self-end px-1.5 w-8 h-8 bg-white shadow-lg min-h-[32px] rounded-[32px]" aria-label="Add to favorites">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/dbfbadf57e1ad86757f64fd3f50a80556c83bfdc0fde98474696bd64ac8ee3ea?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain flex-1 shrink w-full aspect-square basis-0" alt="" />
      </button>
      <div class="flex overflow-hidden gap-2.5 justify-center items-center mx-4 bg-white rounded-xl shadow-[2px_2px_3px_rgba(0,0,0,0.15)] max-md:mx-2.5">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b534b9e7cc56a452bf603a472feae79c33f8834db94e38bfaaf1dc13c66999e3?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain self-stretch my-auto aspect-[0.8] w-[200px]" alt="Nutrabey Gold 100% Whey Protein Concentrate" />
      </div>
      <button class="gap-1 self-stretch px-6 py-2.5 text-base font-medium tracking-tight leading-7 text-center text-white bg-emerald-400 rounded-lg shadow-lg min-h-[46px] max-md:px-5">
        Add to cart
      </button>
    </div>
    <h3 class="flex flex-col mt-3 max-w-full text-base font-semibold leading-7 text-center text-neutral-900 w-[262px]">
      Nutrabey Gold 100% Whey Protein Concentrate
    </h3>
  </div>
  <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[262px]">
    <div class="flex flex-col p-4 w-full rounded-3xl bg-stone-50 max-w-[262px]">
      <button class="flex gap-2.5 justify-center items-center self-end px-1.5 w-8 h-8 bg-white shadow-lg min-h-[32px] rounded-[32px]" aria-label="Add to favorites">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/56a0e57e09329da375b28c7062184a4fe3a3d016b6cac5619d18efdf5a104340?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain flex-1 shrink w-full aspect-square basis-0" alt="" />
      </button>
      <div class="flex overflow-hidden gap-2.5 justify-center items-center mx-4 bg-white rounded-xl shadow-[2px_2px_3px_rgba(0,0,0,0.15)] max-md:mx-2.5">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/da62eb4dbee9cc54866b5cf4cf268a6791c5b942223a9cd50ceb4494b745e7b0?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain self-stretch my-auto aspect-[0.8] w-[200px]" alt="Nutrabey Gold 100% Whey Protein Concentrate" />
      </div>
      <button class="gap-1 self-stretch px-6 py-2.5 text-base font-medium tracking-tight leading-7 text-center text-white bg-emerald-400 rounded-lg shadow-lg min-h-[46px] max-md:px-5">
        Add to cart
      </button>
    </div>
    <h3 class="flex flex-col mt-3 max-w-full text-base font-semibold leading-7 text-center text-neutral-900 w-[262px]">
      Nutrabey Gold 100% Whey Protein Concentrate
    </h3>
  </div>
  <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[262px]">
    <div class="flex flex-col p-4 w-full rounded-3xl bg-stone-50 max-w-[262px]">
      <button class="flex shrink-0 gap-2.5 self-end w-8 h-8 bg-white shadow-lg rounded-[32px]" aria-label="Add to favorites"></button>
      <div class="flex overflow-hidden gap-2.5 justify-center items-center mx-4 bg-white rounded-xl shadow-[2px_2px_3px_rgba(0,0,0,0.15)] max-md:mx-2.5">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/66d26792311f511956e4acabffe9c02a067e838081b1f97540b19dd802b2b7c1?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain self-stretch my-auto aspect-[0.8] w-[200px]" alt="Nutrabey Gold 100% Whey Protein Concentrate" />
      </div>
      <button class="gap-1 self-stretch px-6 py-2.5 text-base font-medium tracking-tight leading-7 text-center text-white bg-emerald-400 rounded-lg shadow-lg min-h-[46px] max-md:px-5">
        Add to cart
      </button>
    </div>
    <h3 class="flex flex-col mt-3 max-w-full text-base font-semibold leading-7 text-center text-neutral-900 w-[262px]">
      Nutrabey Gold 100% Whey Protein Concentrate
    </h3>
  </div>
  </div>
  </div>
  </div>
  <button class="flex gap-2.5 justify-center items-center px-1.5 my-auto bg-emerald-400 h-[50px] min-h-[50px] rounded-[200px] shadow-[-2px_1px_6px_rgba(0,0,0,0.1)] w-[50px]" aria-label="Next product">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/77a6c14a1f31d56ee83b92e9ffb1dec295d69b15b1adb7efcfb6d5cfa1d1f7c3?placeholderIfAbsent=true&apiKey=fca44b9757d04060a95b362826404882" class="object-contain self-stretch my-auto w-6 aspect-square" alt="" />
  </button>
  </section>
  
  <footer class="flex flex-col justify-center px-36 py-16 mt-6 bg-zinc-800 max-md:px-5 max-md:max-w-full">
  <div class="flex flex-col max-md:max-w-full">
  <div class="flex flex-wrap gap-10 items-start py-0.5 max-md:max-w-full">
  <div class="flex flex-col items-start pr-20 pb-6 font-medium min-w-[240px] w-[556px] max-md:max-w-full">
  <h2 class="z-10 text-2xl leading-none text-white">Company Name</h2>
  <address class="mt-2.5 text-base leading-7 text-white w-[260px] not-italic">
  Company Address
  <br />
  <br />
  </address>
  </div>
  <nav class="flex flex-col items-start w-40 text-sm leading-loose text-white whitespace-nowrap">
  <ul class="flex flex-col w-[84px]">
  <li><a href="#home">Home</a></li>
  <li class="mt-4"><a href="#products">Products</a></li>
  <li class="mt-4"><a href="#brands">Brands</a></li>
  </ul>
  </nav>
  <nav class="flex flex-col items-start w-40 text-sm leading-loose text-white">
  <ul class="flex flex-col">
  <li><a href="#shipping-policy">Shipping Policy</a></li>
  <li class="mt-4"><a href="#support">Support</a></li>
  <li class="mt-4"><a href="#faqs">FAQs</a></li>
  </ul>
  </nav>
  <nav class="flex flex-col items-start w-40 text-sm leading-loose text-white whitespace-nowrap">
  <ul class="flex flex-col">
  <li><a href="#facebook" aria-label="Facebook">Facebook</a></li>
  <li class="mt-4"><a href="#whatsapp" aria-label="Whatsapp">Whatsapp</a></li>
  <li class="mt-4"><a href="#twitter" aria-label="Twitter">Twitter</a></li>
  </ul>
  </nav>
  </div>
  <div class="flex flex-col justify-center py-8 mt-12 max-w-full text-xs leading-loose text-center text-gray-200 border-t border-solid border-t-zinc-500 w-[1120px] max-md:mt-10">
  <div class="flex justify-between items-center w-full max-w-[1120px] max-md:max-w-full">
  <p class="gap-4 self-stretch my-auto min-w-[240px] w-[1120px] max-md:max-w-full">
  Copyright © 2024 COMPANY-NAME. All rights reserved
  </p>
  </div>
  </div>
  </div>
  </footer>