---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Contact Us">
    <main class="m-20 gap-8 flex flex-col items-center">
        <p
            class="text-3xl p-2 font-bold capitalize border-b-4 border-activeColor"
        >
            get in touch
        </p>
        <section class="flex gap-20">
            <!-- <div>
                <p>We are always happy to assist you</p>
                <form
                    action=""
                    method=""
                    class="flex flex-col mt-8 w-full gap-4"
                >
                    <input
                        class="w-full border-2 border-gray-400 rounded-lg p-2 focus:outline-none focus:border-activeColor"
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Full Name"
                    />
                    <input
                        class=`w-full border-2 border-gray-400 rounded-lg p-2 focus:outline-none focus:border-activeColor invalid:border-pink-600 invalid:text-pink-600`
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Email Address"
                        onfocus=`{this.setAttribute('required', 'true')}`
                    />
                    <textarea
                        class="w-full border-2 border-gray-400 rounded-lg p-2 focus:outline-none focus:border-activeColor"
                        name="message"
                        id="message"
                        cols="30"
                        rows="10"
                        placeholder="Message"
                        required></textarea>
                    <button type="submit" class="p-4 font-semibold text-xl border-2 border-activeColor">Leave Us a message</button>
                </form>
            </div> -->
            <div class="flex  flex-col items-center">
                <p class="pb-20 pt-10 text-xl ">We are always happy to assist you</p>
                <address class="flex flex-col gap-12">
                    <span class="inline-flex items-center gap-4">
                        <svg
                            width="15"
                            height="21"
                            viewBox="0 0 15 21"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M7.5 4.25C6.45833 4.25 5.57292 4.61458 4.84375 5.34375C4.11458 6.07292 3.75 6.95833 3.75 8C3.75 9.04167 4.11458 9.92708 4.84375 10.6562C5.57292 11.3854 6.45833 11.75 7.5 11.75C8.54167 11.75 9.42708 11.3854 10.1562 10.6562C10.8854 9.92708 11.25 9.04167 11.25 8C11.25 6.95833 10.8854 6.07292 10.1562 5.34375C9.42708 4.61458 8.54167 4.25 7.5 4.25ZM7.5 10.5C6.82292 10.5 6.23698 10.2526 5.74219 9.75781C5.2474 9.26302 5 8.67708 5 8C5 7.32292 5.2474 6.73698 5.74219 6.24219C6.23698 5.7474 6.82292 5.5 7.5 5.5C8.17708 5.5 8.76302 5.7474 9.25781 6.24219C9.7526 6.73698 10 7.32292 10 8C10 8.67708 9.7526 9.26302 9.25781 9.75781C8.76302 10.2526 8.17708 10.5 7.5 10.5ZM7.5 0.5C6.14583 0.5 4.89583 0.838542 3.75 1.51562C2.60417 2.19271 1.69271 3.10417 1.01562 4.25C0.338542 5.39583 0 6.64583 0 8C0 8.83333 0.104167 9.57552 0.3125 10.2266C0.520833 10.8516 0.924479 11.6328 1.52344 12.5703C1.9401 13.2214 2.79948 14.4844 4.10156 16.3594L6.71875 20.1094C6.90104 20.3698 7.16146 20.5 7.5 20.5C7.83854 20.5 8.09896 20.3698 8.28125 20.1094L10.8984 16.3594C12.2005 14.4844 13.0599 13.2214 13.4766 12.5703C14.0755 11.6328 14.4792 10.8516 14.6875 10.2266C14.8958 9.57552 15 8.83333 15 8C15 6.64583 14.6615 5.39583 13.9844 4.25C13.3073 3.10417 12.3958 2.19271 11.25 1.51562C10.1042 0.838542 8.85417 0.5 7.5 0.5ZM7.5 19.0156C6.875 18.1042 6.06771 16.9453 5.07812 15.5391C3.82812 13.7422 3.00781 12.5573 2.61719 11.9844C2.07031 11.099 1.70573 10.3958 1.52344 9.875C1.34115 9.32812 1.25 8.70312 1.25 8C1.25 7.16667 1.40625 6.3724 1.71875 5.61719C2.03125 4.86198 2.48698 4.1849 3.08594 3.58594C3.6849 2.98698 4.36198 2.53125 5.11719 2.21875C5.8724 1.90625 6.66667 1.75 7.5 1.75C8.33333 1.75 9.1276 1.90625 9.88281 2.21875C10.638 2.53125 11.3151 2.98698 11.9141 3.58594C12.513 4.1849 12.9688 4.86198 13.2812 5.61719C13.5938 6.3724 13.75 7.16667 13.75 8C13.75 8.70312 13.6589 9.32812 13.4766 9.875C13.2943 10.3958 12.9297 11.099 12.3828 11.9844C11.9922 12.5573 11.1719 13.7422 9.92188 15.5391L7.5 19.0156Z"
                                fill="#0F001A"></path>
                        </svg>
                        Company Address
                    </span>
                    <span class="inline-flex items-center gap-4"
                        ><svg
                            width="21"
                            height="21"
                            viewBox="0 0 21 21"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M19.5625 20.0625L20.4609 16.1172C20.5391 15.8307 20.5 15.5573 20.3438 15.2969C20.2135 15.0365 20.0182 14.8411 19.7578 14.7109L15.5391 12.9141C15.2786 12.8099 15.0182 12.7839 14.7578 12.8359C14.4974 12.9141 14.276 13.0573 14.0938 13.2656L12.375 15.375C11.0208 14.6979 9.8099 13.8255 8.74219 12.7578C7.67448 11.6901 6.80208 10.4792 6.125 9.125L8.23438 7.40625C8.44271 7.22396 8.57292 7.0026 8.625 6.74219C8.70312 6.48177 8.6901 6.22135 8.58594 5.96094L6.78906 1.74219C6.65885 1.48177 6.46354 1.27344 6.20312 1.11719C5.94271 0.986979 5.66927 0.960937 5.38281 1.03906L1.4375 1.9375C1.17708 2.01562 0.955729 2.15885 0.773438 2.36719C0.591146 2.60156 0.5 2.86198 0.5 3.14844C0.5 6.3776 1.30729 9.3724 2.92188 12.1328C4.51042 14.8411 6.64583 16.9766 9.32812 18.5391C12.1146 20.1797 15.1354 21 18.3906 21C18.651 21 18.8854 20.9089 19.0938 20.7266C19.3281 20.5443 19.4844 20.3229 19.5625 20.0625ZM1.75 3.14844L5.65625 2.25L7.45312 6.46875L4.60156 8.77344C5.53906 10.8047 6.61979 12.4323 7.84375 13.6562C9.06771 14.8802 10.6953 15.9609 12.7266 16.8984L15.0312 14.0469L19.25 15.8438L18.3516 19.75C15.3568 19.75 12.5703 18.9948 9.99219 17.4844C7.46615 16 5.47396 14.0078 4.01562 11.5078C2.50521 8.92969 1.75 6.14323 1.75 3.14844Z"
                                fill="#0F001A"></path>
                        </svg>
                        <a href="tel:+23408012344568">+234-080-1234-4568</a>
                    </span>
                    <span class="inline-flex items-center gap-4">
                        <svg
                            width="20"
                            height="15"
                            viewBox="0 0 20 15"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M18.125 0L1.875 0C1.35417 0 0.911458 0.182292 0.546875 0.546875C0.182292 0.911458 0 1.35417 0 1.875L0 13.125C0 13.6458 0.182292 14.0885 0.546875 14.4531C0.911458 14.8177 1.35417 15 1.875 15H18.125C18.6458 15 19.0885 14.8177 19.4531 14.4531C19.8177 14.0885 20 13.6458 20 13.125V1.875C20 1.35417 19.8177 0.911458 19.4531 0.546875C19.0885 0.182292 18.6458 0 18.125 0ZM1.875 1.25L18.125 1.25C18.3073 1.25 18.4505 1.3151 18.5547 1.44531C18.6849 1.54948 18.75 1.69271 18.75 1.875V3.47656C17.8385 4.25781 15.8724 5.84635 12.8516 8.24219L12.4609 8.55469C11.9401 8.9974 11.5365 9.3099 11.25 9.49219C10.7552 9.83073 10.3385 10 10 10C9.66146 10 9.24479 9.83073 8.75 9.49219C8.4375 9.3099 8.02083 8.9974 7.5 8.55469L7.14844 8.24219C4.1276 5.84635 2.16146 4.25781 1.25 3.47656V1.875C1.25 1.69271 1.30208 1.54948 1.40625 1.44531C1.53646 1.3151 1.69271 1.25 1.875 1.25ZM18.125 13.75H1.875C1.69271 13.75 1.53646 13.6979 1.40625 13.5938C1.30208 13.4635 1.25 13.3073 1.25 13.125L1.25 5.11719C2.16146 5.84635 3.86719 7.21354 6.36719 9.21875L6.75781 9.53125C7.35677 10.0521 7.85156 10.4297 8.24219 10.6641C8.89323 11.0547 9.47917 11.25 10 11.25C10.5208 11.25 11.1068 11.0547 11.7578 10.6641C12.1224 10.4297 12.6172 10.0521 13.2422 9.53125L13.6328 9.21875C16.1328 7.21354 17.8385 5.84635 18.75 5.11719V13.125C18.75 13.3073 18.6849 13.4635 18.5547 13.5938C18.4505 13.6979 18.3073 13.75 18.125 13.75Z"
                                fill="#0F001A"></path>
                        </svg>
                        <a href="mailto:info@companyname.com"
                            >info@companyname.com</a
                        >
                    </span>
                    <span class="inline-flex items-center gap-10">
                        <a href="">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00067 0C5.828 0 5.55533 0.0095 4.702 0.0483333C3.85033 0.0873333 3.269 0.222167 2.76033 0.42C2.23417 0.624333 1.78783 0.897667 1.34317 1.3425C0.898167 1.78717 0.624833 2.2335 0.419833 2.7595C0.2215 3.26833 0.0865 3.84983 0.0481667 4.70117C0.01 5.5545 0 5.82733 0 8C0 10.1727 0.00966667 10.4445 0.0483333 11.2978C0.0875 12.1495 0.222333 12.7308 0.42 13.2395C0.6245 13.7657 0.897833 14.212 1.34267 14.6567C1.78717 15.1017 2.2335 15.3757 2.75933 15.58C3.26833 15.7778 3.84983 15.9127 4.70133 15.9517C5.55467 15.9905 5.82717 16 7.99967 16C10.1725 16 10.4443 15.9905 11.2977 15.9517C12.1493 15.9127 12.7313 15.7778 13.2403 15.58C13.7663 15.3757 14.212 15.1017 14.6565 14.6567C15.1015 14.212 15.3748 13.7657 15.5798 13.2397C15.7765 12.7308 15.9115 12.1493 15.9515 11.298C15.9898 10.4447 15.9998 10.1727 15.9998 8C15.9998 5.82733 15.9898 5.55467 15.9515 4.70133C15.9115 3.84967 15.7765 3.26833 15.5798 2.75967C15.3748 2.2335 15.1015 1.78717 14.6565 1.3425C14.2115 0.8975 13.7665 0.624167 13.2398 0.42C12.7298 0.222167 12.1482 0.0873333 11.2965 0.0483333C10.4432 0.0095 10.1715 0 7.99817 0H8.00067ZM7.28318 1.44167C7.49618 1.44133 7.73385 1.44167 8.00085 1.44167C10.1368 1.44167 10.39 1.44933 11.2335 1.48767C12.0135 1.52333 12.4368 1.65367 12.7188 1.76317C13.0922 1.90817 13.3583 2.0815 13.6382 2.3615C13.9182 2.6415 14.0915 2.90817 14.2368 3.2815C14.3463 3.56317 14.4768 3.9865 14.5123 4.7665C14.5507 5.60983 14.559 5.86317 14.559 7.99817C14.559 10.1332 14.5507 10.3865 14.5123 11.2298C14.4767 12.0098 14.3463 12.4332 14.2368 12.7148C14.0918 13.0882 13.9182 13.354 13.6382 13.6338C13.3582 13.9138 13.0923 14.0872 12.7188 14.2322C12.4372 14.3422 12.0135 14.4722 11.2335 14.5078C10.3902 14.5462 10.1368 14.5545 8.00085 14.5545C5.86468 14.5545 5.61151 14.5462 4.76818 14.5078C3.98818 14.4718 3.56485 14.3415 3.28268 14.232C2.90935 14.087 2.64268 13.9137 2.36268 13.6337C2.08268 13.3537 1.90935 13.0877 1.76401 12.7142C1.65451 12.4325 1.52401 12.0092 1.48851 11.2292C1.45018 10.3858 1.44251 10.1325 1.44251 7.99617C1.44251 5.85983 1.45018 5.60783 1.48851 4.7645C1.52418 3.9845 1.65451 3.56117 1.76401 3.27917C1.90901 2.90583 2.08268 2.63917 2.36268 2.35917C2.64268 2.07917 2.90935 1.90583 3.28268 1.7605C3.56468 1.6505 3.98818 1.5205 4.76818 1.48467C5.50618 1.45133 5.79218 1.44133 7.28318 1.43967V1.44167ZM12.2712 2.77C11.7412 2.77 11.3112 3.1995 11.3112 3.72967C11.3112 4.25967 11.7412 4.68967 12.2712 4.68967C12.8012 4.68967 13.2312 4.25967 13.2312 3.72967C13.2312 3.19967 12.8012 2.76967 12.2712 2.76967V2.77ZM8.00077 3.89165C5.73194 3.89165 3.89244 5.73115 3.89244 7.99999C3.89244 10.2688 5.73194 12.1075 8.00077 12.1075C10.2696 12.1075 12.1084 10.2688 12.1084 7.99999C12.1084 5.73115 10.2694 3.89165 8.0006 3.89165H8.00077ZM8.0007 5.33332C9.47337 5.33332 10.6674 6.52715 10.6674 7.99999C10.6674 9.47265 9.47337 10.6667 8.0007 10.6667C6.52787 10.6667 5.33404 9.47265 5.33404 7.99999C5.33404 6.52715 6.52787 5.33332 8.0007 5.33332Z" fill="#0F001A"/>
                            </svg>
                        </a>
                        <a href="">
                            <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.96429 16V7.99906H7.1729L7.46558 5.2419H4.96429L4.96804 3.86191C4.96804 3.1428 5.03636 2.75748 6.06922 2.75748H7.44995V0H5.24103C2.58776 0 1.65388 1.33752 1.65388 3.58682V5.24221H0V7.99938H1.65388V16H4.96429Z" fill="#0F001A"/>
                                </svg>                                
                        </a>
                        <a href="">
                            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.93421 4.25627L9.97617 4.94831L9.2767 4.86357C6.73059 4.53873 4.50625 3.43711 2.61765 1.58695L1.69434 0.66893L1.45652 1.34685C0.952891 2.85805 1.27465 4.45399 2.32387 5.52737C2.88345 6.12055 2.75755 6.20529 1.79227 5.85221C1.45652 5.73922 1.16273 5.65448 1.13476 5.69685C1.03683 5.79571 1.37258 7.08094 1.63838 7.58938C2.00211 8.29555 2.74356 8.98759 3.55495 9.39717L4.24044 9.72201L3.42905 9.73613C2.64563 9.73613 2.61765 9.75026 2.70159 10.0468C2.98138 10.9649 4.08656 11.9394 5.31764 12.3631L6.185 12.6597L5.42956 13.1116C4.31039 13.7613 2.99537 14.1285 1.68035 14.1567C1.05082 14.1709 0.533203 14.2274 0.533203 14.2697C0.533203 14.411 2.23993 15.2019 3.23319 15.5126C6.21298 16.4306 9.75234 16.0352 12.4104 14.4675C14.299 13.3517 16.1876 11.1343 17.0689 8.98759C17.5445 7.8436 18.0202 5.75334 18.0202 4.75058C18.0202 4.10091 18.0622 4.01617 18.8456 3.23938C19.3072 2.78744 19.7409 2.29312 19.8248 2.15188C19.9647 1.88354 19.9508 1.88354 19.2373 2.12364C18.0482 2.54734 17.8803 2.49084 18.4679 1.85529C18.9015 1.40335 19.4191 0.58419 19.4191 0.344092C19.4191 0.301722 19.2093 0.372339 18.9715 0.499449C18.7197 0.640683 18.1601 0.852534 17.7404 0.979644L16.985 1.21974L16.2995 0.75367C15.9217 0.499449 15.3901 0.216982 15.1104 0.132242C14.3969 -0.0654854 13.3057 -0.0372387 12.6622 0.188735C10.9135 0.824287 9.8083 2.4626 9.93421 4.25627Z" fill="#0F001A"/>
                                </svg>                                
                        </a>
                            
                    </span>
                </address>
            </div>
        </section>
    </main>
</MainLayout>
