---

---
<footer class="bg-footerColor text-white py-20">
    <div class="flex  justify-around">
        <div>
            <p>Company Name</p>
            <p>Company Address</p>
        </div>
        <p></p>
        <div class="flex capitalize flex-row gap-28">
            <div class="flex flex-col gap-4">
                <a href="/">home</a>
                <a href="/products">products</a>
                <a href="/brands">brands</a>
            </div>
            <div class="flex flex-col gap-4">
                <a href="">shipping policy</a>
                <a href="">support</a>
                <a href="">faqs</a>
            </div>
            <div class="flex flex-col gap-4">
                <a href="/">facebook</a>
                <a href="/">whatsapp</a>
                <a href="/">twitter</a>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <p class=" my-12 w-10/12 border-2 border-solid border-b-zinc-500"></p>
        <p>
            Copyright &copy; 2024 Company Name. All rights reserved
        </p>
    </div>

</footer>