---
const pathName = Astro.url.pathname.split("/")[1];
---

<nav class="mx-20 py-4 flex flex-row justify-between items-end text-md">
    <ul><a href="/">Logo</a></ul>
    <ul class="flex flex-row uppercase items-end font-bold gap-6">
        <li
            class:list=`py-1 px-2 hover:border-b-activeColor ${pathName === 'products' ? 'border-y-2 py-0 border-y-activeColor' : 'hover:border-b-2'}`
        >
            <a href="/products">products</a>
        </li>
        <li
            class:list=`py-1 px-2 hover:border-b-activeColor ${pathName === 'brands' ? 'border-y-2 py-0 border-y-activeColor' : 'hover:border-b-2'}`
        >
            <a href="/brands">brands</a>
        </li>
        <li
            class:list=`py-1 px-2 hover:border-b-activeColor ${pathName === 'contact' ? 'border-y-2 py-0 border-y-activeColor' : 'hover:border-b-2'}`
        >
            <a href="/contact">contact us</a>
        </li>
        <li class="relative">
            <button type="submit" class="absolute bottom-0.5 left-0.5 p-1">
                <svg
                    class="text-black-600 h-4 w-4 fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1"
                    id="Capa_1"
                    x="0px"
                    y="0px"
                    viewBox="0 0 56.966 56.966"
                    style="enable-background:new 0 0 56.966 56.966;"
                    xml:space="preserve"
                    width="512px"
                    height="512px"
                >
                    <path
                        d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                    ></path>
                </svg>
            </button>
            <input
                class="pl-8 p-1 placeholder:text-gray-400 font-medium focus:outline-activeColor"
                type="search"
                name="search"
                id=""
                placeholder="Search"
            />
        </li>
        <li class="w-12">
            <a href="/checkout" class="relative">
                <svg
                    version="1.0"
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="37"
                    viewBox="0 0 37.000000 39.000000"
                    class=""
                >
                    <g
                        transform="translate(0.000000,39.000000) scale(0.100000,-0.100000)"
                        fill="#000000"
                        stroke="none"
                    >
                        <path
                            d="M150 337 c-14 -7 -28 -26 -34 -45 -7 -26 -14 -32 -36 -32 -26 0 -27
            -2 -33 -67 -3 -38 -9 -96 -13 -130 l-7 -63 157 0 c86 0 156 3 156 8 0 4 -7 61
            -15 127 -8 65 -15 121 -15 122 0 2 -9 3 -19 3 -14 0 -21 -8 -23 -27 -4 -36
            -38 -46 -38 -11 0 18 2 20 10 8 7 -11 10 -2 10 32 0 38 -5 50 -26 67 -31 24
            -40 25 -74 8z m74 -23 c9 -8 16 -24 16 -35 0 -16 -7 -19 -49 -19 -47 0 -50 -2
            -53 -27 -4 -32 -31 -38 -35 -8 -2 11 0 14 3 8 12 -27 24 -11 24 30 0 24 5 48
            12 55 17 17 64 15 82 4z"
                        ></path>
                    </g>
                </svg>
                <span
                    class="absolute top-0 right-0 text-xs text-white bg-activeColor rounded-full w-5 h-5 flex items-center justify-center"
                    >02</span
                >
            </a>
        </li>
    </ul>
</nav>
