/* css variables */
:root {
    /* --color-primary: #d73953;
    --color-secondary: #090909;
    --color-tertiary: #ffffff;
    --color-quaternary: gray-900; */
}

/* .testing {
    padding: 2rem;
    margin: 2rem;
    color: var(--color-gray-900);
    background-color: var(--color-tertiary);
} */